@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--very-light-gray);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul ul {
  padding-left: 16px;
  border-left: 2px solid var(--light-gray);
}

img {
  display: block;
  width: 2rem;
  height: auto;
}

textarea {
  font: inherit;
}

.container {
  max-width: 375px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.comment {
  padding: 1rem 1.125rem 4.5rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  position: relative;
}

.comment-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.comment-name {
  font-weight: bold;
  color: var(--dark-blue);
}

.comment-time {
  color: var(--grayish-blue);
}

.comment-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: var(--grayish-blue);
}

.comment-reply-to {
  font-weight: bold;
  color: var(--moderate-blue);
}

.score {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 40px;
  background-color:  var(--very-light-gray);
  border-radius: 0.625rem;
}

.score svg {
  width: 0.875rem;
  height: 0.875rem;
  display: block;
}

.score-plus,
.score-minus {
  display: block;
  border: 0;
  background: none;
  color: red;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--light-grayish-blue);
}

.score-plus:hover,
.score-plus:focus,
.score-minus:hover,
.score-minus:focus {
  color: var(--moderate-blue);
}

.score-number {
  font-weight: 500;
  line-height: 1;
  padding: 0.5rem;
  min-width: 1rem;
  text-align: center;
  color: var(--moderate-blue);
}

.score-minus {

}

.form {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid var(--light-gray);
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
}

textarea.form-control {
  max-width: 100%;
  min-height: 96px;
}

.form-footer {
  display: flex;
  align-items: center;
}

.btn-primary {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  border: 0;
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 104px;
  margin-left: auto;
}
